@charset "utf-8";



/*
 *@Description: common.css
 *@Version:	v2.0(2013-10-21 13:00)
 *@Website:	Saiqu
 *@Author: FangHuan
 *@Update: FangHuan(2013-10-21 13:00)
 */
/*默认重置*/

/*=S 重置浏览器默认样式 */
body, dl, dd, ul, ol, h1, h2, h3, h4, h5, h6, p, pre, fieldset, legend, input, button, textarea, th, td {
    margin: 0;
    padding: 0;
}

/*默认显示纵向滚动条*/
html {
    overflow-y: scroll;
}

body{
    font: 400 12px/24px "Microsoft YaHei", arial, \5b8b\4f53;
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

em, i {
    font-style: normal;
}

li {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, button, select, textarea {
    outline: none
}

select {
    height: 24px;
    line-height: 22px;
    padding: 2px;
    border: 1px solid #a8acad;
    color: #000;
}

textarea {
    resize: none
}

img {
    border: none
}

h1, h2, h3, h4, h5, h6, strong {
    font-size: 100%;
    font-weight: 700;
}

input, label, select, button, img, th {
    vertical-align: middle;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

/*=End*/

/************S 公共样式******************/
/*左浮动*/
.fl {
    float: left;
}

/*右浮动*/
.fr {
    float: right;
}

/*清除浮动*/
.clearfix, .hd {
    *zoom: 1;
}
.clearfix:after, .hd:after {
    content: "\0020";
    font-size: 0;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
* first-child + html .clearfix {
    min-height: 1px;
}
.clear {
    clear: both;
}

/*文字左对齐*/
.tl {
    text-align: left;
}

/*文字右对齐*/
.tr {
    text-align: right;
}

/*文字居中*/
.tc {
    text-align: center;
}

/*间距 是5的倍数，其他的需自定义*/
.ma5 {
    margin: 5px;
}

.ma10 {
    margin: 10px;
}

.ma15 {
    margin: 15px;
}

.ma20 {
    margin: 15px;
}

.ma25 {
    margin: 25px;
}

.ma30 {
    margin: 15px;
}

.ma35 {
    margin: 35px;
}

.ma40 {
    margin: 40px;
}

.ma45 {
    margin: 45px;
}

.ma50 {
    margin: 50px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt30 {
    margin-top: 15px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 15px;
}

.mr25 {
    margin-right: 25px;
}

.mr30 {
    margin-right: 15px;
}

.mr35 {
    margin-right: 35px;
}

.mr40 {
    margin-right: 40px;
}

.mr45 {
    margin-right: 45px;
}

.mr50 {
    margin-right: 50px;
}

.mr80 {
    margin-right: 80px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb35 {
    margin-bottom: 35px;
}

.mb40 {
    margin-bottom: 40px;
}

.mb45 {
    margin-bottom: 45px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb80 {
    margin-bottom: 80px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml30 {
    margin-left: 30px;
}

.ml35 {
    margin-left: 35px;
}

.ml40 {
    margin-left: 40px;
}

.ml45 {
    margin-left: 45px;
}

.ml50 {
    margin-left: 50px;
}

.ml80 {
    margin-left: 80px;
}

/*内边距*/
.pa5 {
    padding: 5px;
}

.pa10 {
    padding: 10px;
}

.pa15 {
    padding: 15px;
}

.pa20 {
    padding: 20px;
}

.pa25 {
    padding: 25px;
}

.pa30 {
    padding: 30px;
}

.pa35 {
    padding: 35px;
}

.pa40 {
    padding: 40px;
}

.pa45 {
    padding: 45px;
}

.pa50 {
    padding: 50px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

.pt30 {
    padding-top: 30px;
}

.pt35 {
    padding-top: 35px;
}

.pt40 {
    padding-top: 40px;
}

.pt45 {
    padding-top: 45px;
}

.pt50 {
    padding-top: 50px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr25 {
    padding-right: 25px;
}

.pr30 {
    padding-right: 30px;
}

.pr35 {
    padding-right: 35px;
}

.pr40 {
    padding-right: 40px;
}

.pr45 {
    padding-right: 45px;
}

.pr50 {
    padding-right: 50px;
}

.pr80 {
    padding-right: 80px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 15px;
}

.pb25 {
    padding-bottom: 25px;
}

.pb30 {
    padding-bottom: 15px;
}

.pb35 {
    padding-bottom: 35px;
}

.pb40 {
    padding-bottom: 40px;
}

.pb45 {
    padding-bottom: 45px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb80 {
    padding-bottom: 80px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 15px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl35 {
    padding-left: 35px;
}

.pl40 {
    padding-left: 40px;
}

.pl45 {
    padding-left: 45px;
}

.pl50 {
    padding-left: 50px;
}

.pl80 {
    padding-left: 80px;
}

/*百分比宽度*/
.w5_pct{width:5%;}
.w10_pct{width:10%;}
.w15_pct{width:15%;}
.w20_pct{width:20%;}
.w25_pct{width:25%;}
.w30_pct{width:30%;}
.w35_pct{width:35%;}
.w40_pct{width:40%;}
.w45_pct{width:45%;}
.w50_pct{width:50%;}
/*隐藏*/
.hide {
    display: none;
}

/*显示*/
.show {
    display: block;
}

/*行内块状*/
.d_inline{display:inline;}
.d_block{display:block;}
.d_inline_block{display: inline-block;*display: inline;zoom: 1;vertical-align:middle;}

/*=S 常用字体 */
/*微软雅黑*/
.yahei {font-family: "Microsoft YaHei";}

/*Arial*/
.arial {font-family: "Arial";}

/*宋体*/
.songt {font-family: "\5b8b\4f53";}

/*字体大小*/
.f_s_12 {font-size: 12px;}
.f_s_14 {font-size: 14px;}
.f_s_16 {font-size: 16px;}
.f_s_18 {font-size: 18px;}
.f_s_20 {font-size: 20px;}
.f_w_7 {font-weight: 700;}

/**强制不换行*/
.ellipsis {white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/**文字下划线**/
.t_d_u {text-decoration: underline;}

/*文字默认style*/
.f_w_n{font-weight:normal;}

/*可选用的文字颜色*/
.c_blue,.text_blue{color:#07b;}
.c_red,.c_red:hover{color:#fe0000;}
.text_gray_6{color: #666;}
/************E 公共样式******************/

/* 代码高亮 */
.syntaxhighlighter {
    overflow:auto;
    background-color: white !important;
    margin-bottom:20px;
}

.syntaxhighlighter .code .line{ white-space:nowrap; }

.syntaxhighlighter .code .line.alt1 {
    padding:0 10px!important;
}
.syntaxhighlighter .code .line.alt2 {
    padding:0 10px!important;
    background-color: white !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #fff !important;
}
.syntaxhighlighter .line.highlighted.number {
    color: black !important;
}
.syntaxhighlighter table caption {
    color: black !important;
}
.syntaxhighlighter .gutter {
    color: #afafaf !important;
}
.syntaxhighlighter .gutter .line {
    padding:1px 7px;
    *padding:0px 7px;
    font-size: 12px !important;
    border-right: 3px solid #46ca3b !important;
    height: 24px;
    line-height: 24px;
    font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace;
}
.syntaxhighlighter .gutter .line.highlighted {
    background-color: #46ca3b !important;
    color: white !important;
}
.syntaxhighlighter.printing .line .content {
    border: none !important;
}
.syntaxhighlighter.collapsed {
    overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar,
.syntaxhighlighter .toolbar {
    display:none;
}

.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important;
    font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace; font-size: 13px; line-height: 24px;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #008200 !important;
    font-size: 13px; line-height: 24px;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
    font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace; font-size: 13px; line-height: 24px;
    color: #ff0080 !important;
}
.syntaxhighlighter .spaces{ height:24px; }
.syntaxhighlighter .keyword {
    font-family:"verdana","Bitstream Vera Sans Mono","Courier New",Courier,monospace; font-size: 13px; line-height: 24px;
    color: blue !important;
    font-style:italic;
}
.syntaxhighlighter .preprocessor {
    color: gray !important;
}
.syntaxhighlighter .variable {
    color: #aa7700 !important;
}
.syntaxhighlighter .value {
    color: #009900 !important;
}
.syntaxhighlighter .functions {
    color: #ff1493 !important;
}
.syntaxhighlighter .constants {
    color: #0066cc !important;
}
.syntaxhighlighter .script {
    font-weight: bold !important;
    color: #006699 !important;
    background-color: none !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #ff1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important;
}

.syntaxhighlighter .keyword {
    font-weight: bold !important;
}

.wrap {
    width: 1000px;
    margin: 0 auto;
    color: #333;
}

.wrap h1 {
    padding-bottom: 10px;
    font-size: 26px;
    border-bottom: solid 1px #ccc;
    margin-bottom: 20px;
}

.wrap {
    padding-top: 20px;
}

.wrap h3 {
    margin-bottom: 10px;
    font-size: 14px;
}